<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<!-- ====================================================== -->	
	<!-- spring定时任务管理器配置 -->
	<!-- ====================================================== -->
	
	<!-- 要调用的工作类 -->
	<bean id="quartzRemoveLog" class="com.jo.quartz.QuartzRemoveLog"></bean>
	
	<!-- 定义调用对象和调用对象的方法 -->
	<bean id="jobtaskRemoveLog" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="quartzRemoveLog"/>
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<!-- 定义触发时间 -->
	<bean id="doTimeRemoveLog" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobtaskRemoveLog"/>
		</property>
		<!-- cron表达式 -->
		<property name="cronExpression">
			<value>0 59 23 L * ?</value><!-- 每月的最后一天晚上23:59分触发 -->
		</property>
	</bean>
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="doTimeRemoveLog"/>
			</list>
		</property>
	</bean>

</beans>
